$main-font: 'Montserrat', sans-serif
$dop-font: 'Open Sans', sans-serif
$number-font: 'Noto Sans', sans-serif
$main-font-size: 1rem
$dop-size: 1.25rem
$font-color: #2b2c2c
$first-dop-color: #43d283 //green
$second-dop-color: #ff9649 //orange

*
  padding: 0
  margin: 0

a
  text-decoration: none

h2
  font-size: 1.875rem //30px
  color: $second-dop-color
  font-family: $dop-font  //font-weight: 600
  text-transform: uppercase
  margin-bottom: 1.188rem



.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
  margin-bottom: 0

h3
  font-size: 1.875rem
  font-family: $dop-font
  color: $font-color
  margin-bottom: 1.938rem
  text-transform: uppercase
p
  font-family: $main-font
  color: $font-color
  margin-bottom: 0

.navbar
  padding: 0.938rem 4.25rem 0 //15px 68px
  margin-bottom: 3.875rem

.navbar-brand
  padding: 0
  margin-right: 5.125rem //82px
  font-size: 3.25rem //52px
  font-family: 'Lobster', cursive
  color: $first-dop-color !important


.navbar-nav .nav-link
  padding-left: 0.375rem // 6px
  padding-right: 0.375rem  // 6px
  color: $font-color
  text-transform: uppercase

  &:hover
    color: $second-dop-color

  &:hover:after
    content: ''
    display: block
    width: 100%
    height: 0.125rem //2px
    background-color: $second-dop-color
    position: relative
    top: 1.438rem //23px

.numbers
  p
    font-family: $main-font
    font-size: $dop-size
    //20px
    font-weight: 500
    position: relative
    padding-top: 0.938rem

    &:before
      content: "\f095"
      display: inline-block
      font-weight: 900
      font-family: Font Awesome\ 5 Free
      -moz-transform: rotate(100deg)
      //explorer
      -webkit-transform: rotate(100deg)
      //chrome/safari
      -o-transform: rotate(100deg)
      //opera
      -ms-transform: rotate(100deg)
      //firefox
      transform: rotate(100deg)
      font-size: 2.5rem
      //40px
      color: $first-dop-color
      position: absolute
      top: 50%
      margin-top: -1.5rem
      margin-left: -3.75rem //60px

.about_us
  margin-bottom: 6.875rem
  .org_big_bg
    img
      position: relative
      left: 103px
      z-index: 0

  .food
    img
      position: absolute
      top: 2.25rem
      left: 4rem
      z-index: 2

  .org_bg
    img
      position: absolute
      top: 4.5rem
      z-index: 1

.process
  .process_txt
    padding-top: 3.75rem
  .process_img
    padding-left: 2.5rem
    margin-bottom: 8.188rem
    .org_big_bg
      img
        position: relative
        left: 6.438rem
        z-index: 0

    .food
      img
        position: absolute
        top: 2.25rem
        right: 4rem
        z-index: 2

    .org_bg
      img
        position: absolute
        top: 4.5rem
        z-index: 1

.programs
  margin-bottom: 6.25rem
  .programs_img
    position: relative
    overflow: hidden
    margin-bottom: 1.875rem
    img
      display: block
      width: 100%
      position: relative

    .programs_txt
      background-color: rgba(67, 210, 131, .7)
      position: absolute
      bottom: 0
      left: 0
      right: 0
      overflow: hidden
      width: 100%
      padding: 1.313rem 0 1.125rem 1.75rem
      &:hover .programs_button
        display: block
      &:hover
        height: 100%
        padding-top: 2.75rem
      h5
        color: #fff
        font-family: $dop-font
        font-size: 1.375rem
        font-weight: 600
        margin-bottom: 0.563rem
      p
        font-weight: 500
        color: #fff
        font-size: 0.875rem
        max-width: 300px
      .programs_button
        display: none
        a
          display: inline-block
          text-decoration: none
          color: #fff
          font-size: 0.875rem
          font-family: $main-font
          font-weight: 600
          line-height: 2.438rem
          min-width: 8.375rem
          border: 2px solid #fff
          text-align: center
          margin: 2.188rem 0.688rem 0

          &:nth-child(odd)
            margin-left: 0
          &:nth-child(even)
            margin-right: 0
          &:hover
            color: $font-color
            background-color: #fff

.deliver_consultation
  margin-bottom: 6.25rem
  p
    margin-bottom: 3.125rem

  a
    display: inline-block
    text-decoration: none
    text-transform: uppercase
    color: #fff
    font-family: $main-font
    font-weight: 500
    line-height: 3.25rem
    min-width: 11.5rem
    background-color: $first-dop-color
    margin-right: $dop-size
    margin-left: $dop-size
    &:first-of-type
      margin-left: 0
    &:last-of-type
      margin-right: 0
    &:hover
      background-color: $second-dop-color

//.orders
//  form
//    select
//      -webkit-appearance: none
//      appearance: none
//      display: inline-block
//      width: 100%
//      outline: none
//      height: 40px
//      font-family: $main-font
//      color: $font-color
//      padding-left: 10px
//      &:hover
//
//      //background-color: #e4e4e4
//      //border: 0
//      //border-color: $first-dop-color
//      option
//        appearance: none
//        &:hover
//          background-color: $first-dop-color

.stock
  margin-bottom: 4.375rem
  .common_block_stock
    background-color: #e4e4e4
    padding-left: 0
    margin-bottom: 30px
    .left_part
      padding-left: 0
      padding-right: 0
      margin-right: 1.875rem
      img
        display: inline-block
        width: 100%
        position: relative
        margin-right: 1.313rem
      p
        font-family:  'Lobster', cursive
        font-size: 2.625rem
        position: absolute
        top: 45%
        text-align: center
        margin-top: -21px
        width: 100%


    .right_part
      p
        font-size: $dop-size
        margin-bottom: 1.5rem

      a
        text-decoration: none
        font-family: $main-font
        color: #837f7f
        font-size: 1.125rem
        &:hover
          color: $first-dop-color






