@charset "UTF-8";
.basket .basket_content form button {
  display: inline-block;
  background-color: #43d283;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  transition: all 1s ease-in-out; }
  .basket .basket_content form button:hover {
    background-color: #ff9649;
    transition: all 1s ease-in-out; }

.stock_100hrn_kg h2, .stock_customer h2, .stock_2_orders h2, .stock_100hrn_for_friend h2 {
  font-family: "Open Sans", sans-serif;
  text-transform: inherit;
  color: #2b2c2c;
  font-weight: 600;
  margin-bottom: 30px; }

.stock_100hrn_kg h4, .stock_customer h4, .stock_2_orders h4, .stock_100hrn_for_friend h4 {
  color: #2b2c2c;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 600; }

.stock_100hrn_kg h5, .stock_customer h5, .stock_2_orders h5, .stock_100hrn_for_friend h5 {
  color: #2b2c2c;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.25rem; }

.program_description .price .program_name, .program_description .program_information h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 12px; }

.program_description .price .main_cost_block .cost .value h4, .program_description .price .about_program .cost .value h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  margin-right: 10px;
  font-weight: 600;
  color: #43d283; }

.program_description .program_information .menu .time h5 {
  color: #2b2c2c;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase; }

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.transition-loader-inner label:nth-child(1) {
  -webkit-animation: loader 3s 600ms infinite ease-in-out;
  animation: loader 3s 600ms infinite ease-in-out; }

.transition-loader-inner label:nth-child(2) {
  -webkit-animation: loader 3s 500ms infinite ease-in-out;
  animation: loader 3s 500ms infinite ease-in-out; }

.transition-loader-inner label:nth-child(3) {
  -webkit-animation: loader 3s 400ms infinite ease-in-out;
  animation: loader 3s 400ms infinite ease-in-out; }

.transition-loader-inner label:nth-child(4) {
  -webkit-animation: loader 3s 300ms infinite ease-in-out;
  animation: loader 3s 300ms infinite ease-in-out; }

.transition-loader-inner label:nth-child(5) {
  -webkit-animation: loader 3s 200ms infinite ease-in-out;
  animation: loader 3s 200ms infinite ease-in-out; }

.transition-loader-inner label:nth-child(6) {
  -webkit-animation: loader 3s 100ms infinite ease-in-out;
  animation: loader 3s 100ms infinite ease-in-out; }

@keyframes loader {
  0% {
    opacity: 0;
    transform: translateX(-300px) scale(1); }
  33% {
    opacity: 1;
    transform: translateX(0px) scale(2); }
  66% {
    opacity: 1;
    transform: translateX(0px) scale(1); }
  100% {
    opacity: 0;
    transform: translateX(300px) scale(2); } }
@-webkit-keyframes loader {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px); }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px); }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px); } }
* {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0; }

h2 {
  font-size: 1.875rem;
  color: #ff9649;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1.188rem; }

h3 {
  font-size: 1.875rem;
  font-family: "Open Sans", sans-serif;
  color: #2b2c2c;
  margin-bottom: 3.125rem;
  text-transform: uppercase; }

p {
  font-family: "Montserrat", sans-serif;
  color: #2b2c2c;
  margin-bottom: 0; }

.transition-loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: #43d283; }
  .transition-loader .transition-loader-inner {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: calc(100% - 50px);
    margin: auto;
    color: #fff;
    padding: 0 100px;
    text-align: center; }
    .transition-loader .transition-loader-inner label {
      font-size: 1em;
      padding: 1%;
      opacity: 0;
      display: inline-block; }
      .transition-loader .transition-loader-inner label:after {
        content: "";
        display: block;
        font-family: Font Awesome\ 5 Free;
        font-weight: 900; }

.navbar {
  padding: 0 4.25rem;
  margin-bottom: 50px; }
  @media screen and (max-width: 1024px) {
    .navbar {
      padding: 0.6rem 0 0; } }
  @media screen and (max-width: 768px) {
    .navbar {
      margin-bottom: 4rem;
      padding: 0.6rem 1rem 0; } }
  .navbar .navbar-brand {
    padding: 0;
    margin-right: 3.75rem;
    font-size: 3.25rem;
    font-family: "Lobster", cursive;
    color: #43d283 !important; }
    @media screen and (max-width: 1024px) {
      .navbar .navbar-brand {
        margin-right: 2rem;
        font-size: 40px; } }
  .navbar .navbar-toggler .navbar-toggler-icon {
    background-color: #43d283; }
  .navbar .navbar-nav .nav-link {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    color: #2b2c2c;
    text-transform: uppercase;
    transition: all 300ms ease-in-out 0s; }
    @media screen and (max-width: 1024px) {
      .navbar .navbar-nav .nav-link {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        font-size: 14px; } }
    .navbar .navbar-nav .nav-link:hover {
      color: #ff9649;
      transition: all 300ms ease-in-out 0s; }
    .navbar .navbar-nav .nav-link:hover:after {
      content: "";
      display: block;
      width: 100%;
      height: 0.125rem;
      background-color: #ff9649;
      position: relative;
      top: 1.438rem;
      transition: all 1s ease-in-out 0s; }
  .navbar .numbers p {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative; }
    @media screen and (max-width: 1024px) {
      .navbar .numbers p {
        font-size: 14px; } }
    .navbar .numbers p:before {
      content: "";
      display: inline-block;
      font-weight: 900;
      font-family: Font Awesome\ 5 Free;
      -moz-transform: rotate(100deg);
      -webkit-transform: rotate(100deg);
      -o-transform: rotate(100deg);
      -ms-transform: rotate(100deg);
      transform: rotate(100deg);
      font-size: 2rem;
      color: #43d283;
      position: absolute;
      top: 50%;
      margin-top: -1.5rem;
      margin-left: -3.75rem; }

/* main page */
.about_us {
  margin-bottom: 170px; }
  @media screen and (max-width: 768px) {
    .about_us {
      margin-bottom: 4rem; } }
  @media screen and (max-width: 768px) {
    .about_us .org_big_bg {
      display: none; } }
  .about_us .org_big_bg img {
    display: block;
    width: 100%;
    position: relative;
    padding-left: 103px;
    padding-right: 40px;
    z-index: 0; }
    @media screen and (max-width: 1024px) {
      .about_us .org_big_bg img {
        padding-right: 0; } }
  .about_us .food img {
    display: inline-block;
    max-width: 500px;
    position: absolute;
    left: 54px;
    top: 40px;
    z-index: 2; }
    @media screen and (max-width: 1024px) {
      .about_us .food img {
        left: 22px; } }
    @media screen and (max-width: 768px) {
      .about_us .food img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        max-width: none;
        padding: 50px 0;
        border-bottom: 2px solid #ff9649;
        border-top: 2px solid #ff9649; } }
    @media screen and (max-width: 414px) {
      .about_us .food img {
        border-bottom: 0;
        padding-bottom: 0;
        padding-top: 30px;
        margin-bottom: 20px; } }
  @media screen and (max-width: 768px) {
    .about_us .org_bg {
      display: none; } }
  .about_us .org_bg img {
    display: inline-block;
    max-width: 196px;
    position: absolute;
    left: 0;
    top: 83px;
    z-index: 1;
    animation: slideInLeft 1s ease both; }
    @media screen and (max-width: 1024px) {
      .about_us .org_bg img {
        top: 81px; } }

.process .process_txt {
  padding-top: 20px; }
  @media screen and (max-width: 768px) {
    .process .process_txt {
      padding-top: 0;
      margin-bottom: 100px; } }
  @media screen and (max-width: 414px) {
    .process .process_txt {
      padding-top: 30px;
      border-top: 2px solid #ff9649;
      margin-bottom: 20px; } }
.process .process_img {
  margin-bottom: 9.375rem; }
  @media screen and (max-width: 768px) {
    .process .process_img {
      margin-bottom: 100px; } }
  @media screen and (max-width: 768px) {
    .process .process_img .org_big_bg {
      display: none; } }
  .process .process_img .org_big_bg img {
    position: absolute;
    bottom: 191px;
    right: 0;
    z-index: 0; }
  .process .process_img .food img {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 85px;
    padding-right: 41px;
    z-index: 2; }
    @media screen and (max-width: 1024px) {
      .process .process_img .food img {
        padding-left: 10px;
        padding-right: 10px; } }
    @media screen and (max-width: 768px) {
      .process .process_img .food img {
        padding: 50px 0;
        border-bottom: 2px solid #ff9649;
        border-top: 2px solid #ff9649; } }
    @media screen and (max-width: 414px) {
      .process .process_img .food img {
        border-top: 0;
        padding: 0 0 30px; } }
  @media screen and (max-width: 768px) {
    .process .process_img .org_bg {
      display: none; } }
  .process .process_img .org_bg img {
    position: absolute;
    top: 47px;
    left: 47px;
    z-index: 1; }
    @media screen and (max-width: 1024px) {
      .process .process_img .org_bg img {
        left: 0; } }

.programs {
  margin-bottom: 9.375rem; }
  @media screen and (max-width: 414px) {
    .programs {
      margin-bottom: 100px; } }
  .programs .programs_img {
    position: relative;
    overflow: hidden;
    margin-bottom: 1.875rem; }
    .programs .programs_img img {
      display: block;
      width: 100%;
      position: relative; }
    .programs .programs_img .programs_txt {
      background-color: rgba(67, 210, 131, 0.7);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      width: 100%;
      padding: 1.313rem 0 1.125rem 1.75rem;
      transition: all 1s ease-in-out 0s; }
      @media screen and (max-width: 1024px) {
        .programs .programs_img .programs_txt {
          padding: 10px 0 10px 10px; } }
      @media screen and (max-width: 768px) {
        .programs .programs_img .programs_txt {
          padding: 10px 0 10px 10px; } }
      .programs .programs_img .programs_txt:hover .programs_button {
        display: block; }
      .programs .programs_img .programs_txt:hover p {
        display: block; }
      .programs .programs_img .programs_txt:hover {
        height: 100%;
        padding-top: 2.75rem;
        transition: all 1s ease-in-out 0s; }
      .programs .programs_img .programs_txt h5 {
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-size: 1.375rem;
        font-weight: 600;
        margin-bottom: 0.563rem; }
        @media screen and (max-width: 768px) {
          .programs .programs_img .programs_txt h5 {
            font-size: 1rem; } }
      .programs .programs_img .programs_txt p {
        font-weight: 500;
        color: #fff;
        font-size: 0.875rem;
        max-width: 300px; }
        @media screen and (max-width: 1024px) {
          .programs .programs_img .programs_txt p {
            font-size: 0.75rem; } }
        @media screen and (max-width: 768px) {
          .programs .programs_img .programs_txt p {
            display: none; } }
      .programs .programs_img .programs_txt .programs_button {
        display: none; }
        .programs .programs_img .programs_txt .programs_button a {
          display: inline-block;
          text-decoration: none;
          color: #fff;
          font-size: 0.875rem;
          font-family: "Montserrat", sans-serif;
          font-weight: 600;
          line-height: 2.438rem;
          min-width: 8.375rem;
          border: 2px solid #fff;
          text-align: center;
          margin: 2.188rem 0.688rem 0;
          transition: all 1s ease-in-out 0s; }
          .programs .programs_img .programs_txt .programs_button a:nth-child(odd) {
            margin-left: 0; }
          .programs .programs_img .programs_txt .programs_button a:nth-child(even) {
            margin-right: 0; }
          .programs .programs_img .programs_txt .programs_button a:hover {
            color: #2b2c2c;
            background-color: #fff;
            transition: all 1s ease-in-out 0s; }

.deliver_consultation {
  background-color: #e4e4e4;
  padding: 6.25rem 0;
  margin-bottom: 9.375rem; }
  @media screen and (max-width: 414px) {
    .deliver_consultation {
      margin-bottom: 100px; } }
  .deliver_consultation h3 {
    margin-bottom: 3.125rem; }
  .deliver_consultation p {
    margin-bottom: 3.125rem; }
  .deliver_consultation a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 3.25rem;
    min-width: 11.5rem;
    background-color: #43d283;
    margin-right: 1.25rem;
    margin-left: 1.25rem;
    transition: all 500ms ease-in-out 0s; }
    @media screen and (max-width: 414px) {
      .deliver_consultation a {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        margin-bottom: 10px; } }
    .deliver_consultation a:first-of-type {
      margin-left: 0; }
    .deliver_consultation a:last-of-type {
      margin-right: 0; }
    .deliver_consultation a:hover {
      background-color: #ff9649;
      transition: all 500ms ease-in-out 0s; }

.orders .dropdown {
  box-sizing: border-box;
  padding: 0;
  margin: 0 0.625rem 1.375rem; }
  .orders .dropdown:first-of-type {
    margin-left: 0; }
  .orders .dropdown:last-of-type {
    margin-right: 0; }
  @media screen and (max-width: 414px) {
    .orders .dropdown {
      margin-right: 0;
      margin-left: 0; } }
.orders .show .btn-primary.dropdown-toggle, .orders .btn-primary {
  display: inline-block;
  width: 100%;
  background-color: #e4e4e4;
  color: #2b2c2c;
  font-family: "Montserrat", sans-serif;
  border: 0;
  outline: 0;
  text-align: left; }
.orders .btn-primary:not(:disabled):not(.disabled).active, .orders .btn-primary:not(:disabled):not(.disabled):active, .orders .show > .btn-primary.dropdown-toggle {
  color: #fff;
  border: 0 !important;
  background-color: #43d283 !important; }
  .orders .btn-primary:not(:disabled):not(.disabled).active:focus, .orders .btn-primary:not(:disabled):not(.disabled):active:focus, .orders .show > .btn-primary.dropdown-toggle:focus {
    outline: none; }
.orders .dropdown-toggle {
  position: relative; }
  .orders .dropdown-toggle:after {
    content: "";
    display: inline-block;
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    margin-left: 0;
    vertical-align: 0;
    border: 0;
    position: absolute;
    right: 1.25rem; }
.orders .btn {
  display: inline-block;
  width: 100%;
  text-align: left;
  border-radius: 0;
  border: 0;
  padding: 0 1.375rem;
  line-height: 3.125rem;
  transition: all 1s ease-in-out 0s; }
.orders .dropdown-menu.show {
  width: 100%;
  box-sizing: border-box; }
.orders .dropdown-menu {
  margin: 0;
  border-radius: 0;
  padding: 0;
  color: #2b2c2c;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box; }
.orders .dropdown-item {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  color: #2b2c2c;
  font-family: "Montserrat", sans-serif; }
.orders form {
  font-family: "Montserrat", sans-serif;
  color: #2b2c2c;
  padding-left: 0;
  padding-right: 0; }
  .orders form .second_form {
    padding-left: 0;
    padding-right: 0;
    margin: 0 1.375rem; }
    .orders form .second_form:nth-child(odd) {
      margin-left: 0; }
    .orders form .second_form:nth-child(even) {
      margin-right: 0; }
    .orders form .second_form:last-of-type {
      margin: 0; }
    @media screen and (max-width: 414px) {
      .orders form .second_form {
        margin-right: 0;
        margin-left: 0; } }
    .orders form .second_form input {
      display: inline-block;
      width: 100%;
      line-height: 3.125rem;
      padding-left: 1.25rem;
      background-color: #e4e4e4;
      border: 0;
      margin-bottom: 1.375rem; }
    .orders form .second_form textarea {
      display: block;
      width: 100%;
      resize: none;
      background-color: #e4e4e4;
      border: 0;
      height: 14.063rem;
      padding-left: 1.25rem;
      padding-top: 1.25rem;
      margin-bottom: 1.375rem; }
.orders .orders_but button {
  display: block;
  min-width: 11.438rem;
  line-height: 3.25rem;
  background-color: #43d283;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  border: 0;
  margin: auto;
  margin-bottom: 9.375rem;
  transition: all 1s ease-in-out 0s; }
  .orders .orders_but button:hover {
    background-color: #ff9649;
    transition: all 1s ease-in-out 0s; }
  @media screen and (max-width: 414px) {
    .orders .orders_but button {
      width: 100%;
      margin-bottom: 100px; } }

.stock {
  margin-bottom: 4.375rem; }
  .stock .common_block_stock {
    background-color: #e4e4e4;
    padding-left: 0;
    margin-bottom: 1.875rem; }
    .stock .common_block_stock .left_part {
      padding-left: 0;
      padding-right: 0;
      margin-right: 1.875rem; }
      .stock .common_block_stock .left_part img {
        display: inline-block;
        width: 100%;
        position: relative;
        margin-right: 1.313rem; }
        @media screen and (max-width: 768px) {
          .stock .common_block_stock .left_part img {
            margin-right: 0; } }
      .stock .common_block_stock .left_part p {
        font-family: "Lobster", cursive;
        font-size: 2.5rem;
        position: absolute;
        top: 45%;
        text-align: center;
        margin-top: -1.313rem;
        width: 100%; }
        @media screen and (max-width: 1024px) {
          .stock .common_block_stock .left_part p {
            font-size: 32px; } }
        @media screen and (max-width: 768px) {
          .stock .common_block_stock .left_part p {
            font-size: 25px;
            top: 50%; } }
        @media screen and (max-width: 414px) {
          .stock .common_block_stock .left_part p {
            font-size: 1.25rem;
            top: 50%; } }
        @media screen and (max-width: 375px) {
          .stock .common_block_stock .left_part p {
            font-size: 1rem;
            top: 62%; } }
    .stock .common_block_stock .right_part p {
      font-size: 1.25rem;
      margin-bottom: 1.5rem; }
      @media screen and (max-width: 414px) {
        .stock .common_block_stock .right_part p {
          font-size: 0.75rem;
          margin-bottom: 0; } }
      @media screen and (max-width: 768px) {
        .stock .common_block_stock .right_part p {
          margin-bottom: 0;
          font-size: 1rem; } }
      @media screen and (max-width: 375px) {
        .stock .common_block_stock .right_part p {
          font-size: 0.6rem;
          margin-bottom: 0; } }
    .stock .common_block_stock .right_part a {
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      color: #837f7f;
      font-size: 1.125rem;
      transition: all 500ms ease-in-out 0s; }
      @media screen and (max-width: 414px) {
        .stock .common_block_stock .right_part a {
          font-size: 0.75rem; } }
      @media screen and (max-width: 375px) {
        .stock .common_block_stock .right_part a {
          font-size: 0.65rem; } }
      .stock .common_block_stock .right_part a:hover {
        color: #43d283;
        transition: all 500ms ease-in-out 0s; }

.comments .owl-nav {
  display: none; }
.comments .owl-dots {
  width: 100%;
  margin-bottom: 9.375rem;
  text-align: center; }
  @media screen and (max-width: 414px) {
    .comments .owl-dots {
      margin-bottom: 100px; } }
  .comments .owl-dots .owl-dot {
    outline: none; }
    .comments .owl-dots .owl-dot span {
      display: block;
      height: 0.875rem;
      width: 0.875rem;
      background-color: #2b2c2c;
      margin-right: 0.25rem;
      margin-left: 0.25rem;
      border-radius: 50%; }
  .comments .owl-dots .owl-dot.active span {
    background-color: #ff9649; }
.comments .img_carousel img {
  display: inline-block;
  width: 100%;
  margin-bottom: 1.5rem; }
.comments .txt_carousel h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  display: inline-block;
  margin-bottom: 0.75rem; }
  @media screen and (max-width: 768px) {
    .comments .txt_carousel h5 {
      font-size: 1.1rem; } }
.comments .txt_carousel p {
  margin-bottom: 3.125rem; }
.comments .txt_carousel p.font-italic {
  color: #ff9649;
  margin-bottom: 1.438rem; }

footer {
  background-color: #e4e4e4;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  footer h4 {
    font-size: 1.25rem;
    font-family: "Open Sans", sans-serif;
    color: #2b2c2c; }
  footer .footer_form {
    padding-left: 5.625rem;
    margin-right: 1.875rem;
    padding-bottom: 1.375rem; }
    @media screen and (max-width: 1024px) {
      footer .footer_form {
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (max-width: 768px) {
      footer .footer_form {
        padding-left: 0;
        padding-right: 0;
        margin: auto;
        margin-bottom: 25px; } }
    @media screen and (max-width: 414px) {
      footer .footer_form {
        display: block;
        margin: auto;
        padding-left: 0;
        margin-right: 0;
        padding-bottom: 38px;
        border-bottom: 2px solid #43d283; } }
    footer .footer_form h4 {
      padding-top: 1.375rem;
      margin-bottom: 1.125rem; }
    footer .footer_form p {
      margin-bottom: 1.313rem; }
    footer .footer_form form {
      font-family: "Montserrat", sans-serif; }
      footer .footer_form form input {
        line-height: 2.188rem;
        padding-left: 1.25rem;
        border: 0;
        margin-bottom: 1.063rem;
        color: #2b2c2c; }
      footer .footer_form form button {
        line-height: 2.188rem;
        border: 0;
        text-transform: uppercase;
        color: #fff;
        background-color: #43d283;
        transition: all 500ms ease-in-out 0s; }
        footer .footer_form form button:hover {
          background-color: #ff9649;
          transition: all 500ms ease-in-out 0s; }
  footer .social {
    margin-left: 1.875rem;
    padding: 0 4.063rem 1.375rem;
    border-right: 2px solid #43d283;
    border-left: 2px solid #43d283; }
    @media screen and (max-width: 768px) {
      footer .social {
        padding: 0;
        padding-bottom: 38px;
        width: 50%;
        margin-left: 0;
        border-left: 0; } }
    @media screen and (max-width: 414px) {
      footer .social {
        width: 100%;
        padding: 0 0 38px;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid #43d283;
        margin-left: 0; } }
    footer .social h4 {
      padding-top: 0;
      margin-bottom: 0.313rem; }
      footer .social h4:first-of-type {
        padding-top: 23px; }
    footer .social .write_to_us {
      margin-bottom: 1rem; }
      footer .social .write_to_us a {
        text-decoration: none;
        transition: all 1s ease-in-out 0s; }
        footer .social .write_to_us a:before {
          content: "";
          display: inline-block;
          font-family: Font Awesome\ 5 Brands;
          font-size: 2.188rem;
          color: #43d283;
          margin: 0 0.25rem; }
        footer .social .write_to_us a:nth-child(2):before {
          content: ""; }
        footer .social .write_to_us a:nth-child(3):before {
          content: "";
          font-size: 2.313rem; }
        footer .social .write_to_us a:first-child {
          margin-left: 0; }
        footer .social .write_to_us a:last-child {
          margin-right: 0; }
        footer .social .write_to_us a:hover:before {
          color: #ff9649;
          transition: all 1s ease-in-out 0s; }
    footer .social .soc {
      margin: 0; }
      footer .social .soc a {
        text-decoration: none;
        transition: all 1s ease-in-out 0s; }
        footer .social .soc a:before {
          content: "";
          display: inline-block;
          font-family: Font Awesome\ 5 Brands;
          font-size: 2.313rem;
          color: #43d283;
          margin-left: 0.25rem;
          margin-right: 0.25rem; }
        footer .social .soc a:nth-child(2):before {
          content: "";
          font-size: 2.188rem; }
        footer .social .soc a:first-child {
          margin-left: 0; }
        footer .social .soc a:last-child {
          margin-right: 0; }
        footer .social .soc a:hover:before {
          color: #ff9649;
          transition: all 1s ease-in-out 0s; }
  footer .contacts {
    padding-left: 3.875rem;
    padding-bottom: 1.375rem; }
    @media screen and (max-width: 414px) {
      footer .contacts {
        padding-bottom: 0;
        margin-bottom: 38px;
        padding-left: 0; } }
    footer .contacts h4 {
      padding-top: 1.375rem;
      margin-bottom: 1.125rem; }
    footer .contacts p {
      margin-bottom: 0.625rem; }

.down_footer {
  background-color: #fff;
  padding: 0.813rem 0; }
  .down_footer p {
    font-size: 0.75rem; }
  .down_footer a {
    text-decoration: none; }
    .down_footer a:before {
      content: "";
      display: inline-block;
      font-family: Font Awesome\ 5 Free;
      font-weight: 900;
      width: 86px;
      line-height: 86px;
      background-color: #43d283;
      color: #fff;
      font-size: 45px;
      text-align: center;
      position: fixed;
      bottom: 65px;
      right: 30px;
      border-radius: 50%;
      transition: all 1s ease-in-out 0s;
      animation: pulse 1s 1s infinite; }
      @media screen and (max-width: 414px) {
        .down_footer a:before {
          right: 10px;
          line-height: 60px;
          width: 60px;
          font-size: 35px; } }
    .down_footer a:hover:before {
      content: "Call";
      font-size: 1.25rem;
      font-family: "Montserrat", sans-serif;
      background-color: #ff9649;
      transition: all 1s ease-in-out 0s; }

/*page stock 100hrn for kg */
.stock_100hrn_kg h4:last-of-type {
  color: #ff9649;
  margin-bottom: 30px; }
.stock_100hrn_kg ul {
  color: #ff9649;
  padding-left: 35px;
  margin-bottom: 50px; }
  .stock_100hrn_kg ul li span {
    color: #2b2c2c;
    font-family: "Montserrat", sans-serif; }
    .stock_100hrn_kg ul li span a {
      color: #ff9649; }
.stock_100hrn_kg p {
  margin-bottom: 1.25rem; }
  .stock_100hrn_kg p:first-of-type {
    margin-bottom: 0; }
  .stock_100hrn_kg p:nth-child(3) {
    margin-bottom: 50px; }
.stock_100hrn_kg .attention p {
  margin-bottom: 9.375rem; }

/*page stock_customer */
.stock_customer h4:last-of-type {
  color: #ff9649;
  margin-bottom: 30px; }
.stock_customer ul {
  color: #ff9649;
  padding-left: 35px;
  margin-bottom: 50px; }
  .stock_customer ul li span {
    color: #2b2c2c;
    font-family: "Montserrat", sans-serif; }
    .stock_customer ul li span a {
      color: #ff9649; }
.stock_customer p {
  margin-bottom: 50px; }
.stock_customer .attention {
  margin-bottom: 9.375rem; }
  .stock_customer .attention span {
    font-family: "Montserrat", sans-serif;
    color: #2b2c2c; }
    .stock_customer .attention span:first-of-type {
      color: #ff9649;
      font-weight: 600;
      font-size: 1.25rem; }

/*pages stock_2_orders and stock_100hrn_for_friend */
.stock_2_orders h4:last-of-type, .stock_100hrn_for_friend h4:last-of-type {
  color: #ff9649;
  margin-bottom: 30px; }
.stock_2_orders ul, .stock_100hrn_for_friend ul {
  color: #ff9649;
  padding-left: 35px;
  margin-bottom: 50px; }
  .stock_2_orders ul li span, .stock_100hrn_for_friend ul li span {
    color: #2b2c2c;
    font-family: "Montserrat", sans-serif; }
    .stock_2_orders ul li span a, .stock_100hrn_for_friend ul li span a {
      color: #ff9649; }
.stock_2_orders p, .stock_100hrn_for_friend p {
  margin-bottom: 50px; }
.stock_2_orders .attention p, .stock_100hrn_for_friend .attention p {
  margin-bottom: 9.375rem; }

/*programs */
.program_description .open_basket a {
  text-decoration: none; }
  .program_description .open_basket a:after {
    content: "";
    display: inline-block;
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    font-size: 33px;
    line-height: 55px;
    width: 75px;
    color: #fff;
    border-left: 2px solid #2b2c2c;
    text-align: center;
    background-color: #43d283;
    position: fixed;
    right: 0;
    top: 40%;
    transition: all 500ms ease-in-out; }
    @media screen and (max-width: 414px) {
      .program_description .open_basket a:after {
        line-height: 40px;
        width: 55px;
        font-size: 1.25rem; } }
  .program_description .open_basket a:hover:after {
    background-color: #ff9649;
    transition: all 500ms ease-in-out; }
.program_description img {
  display: inline-block;
  width: 100%; }
.program_description .price .program_name span:first-of-type {
  font-weight: 600; }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .program_description .price .program_name span {
    font-size: 16px;
    margin-bottom: 8px; } }
.program_description .price .main_cost_block .cost .value {
  padding-bottom: 5px;
  border-bottom: 2px solid #43d283;
  margin-bottom: 5px; }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .program_description .price .main_cost_block .cost .value {
      margin-bottom: 3px;
      padding-bottom: 3px; } }
  .program_description .price .main_cost_block .cost .value p:nth-child(odd) {
    color: #43d283;
    font-weight: 600;
    margin-bottom: -4px; }
.program_description .price .main_cost_block .cost span {
  display: block;
  font-size: 14px;
  max-width: 140px;
  margin-bottom: 1.25rem; }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .program_description .price .main_cost_block .cost span {
      margin-bottom: 14px; } }
.program_description .price .btn {
  border: 0;
  border-radius: 0;
  padding: 0 57px 0 47px;
  line-height: 44px; }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .program_description .price .btn {
      padding: 0 47px 0 37px; } }
  @media screen and (max-width: 414px) {
    .program_description .price .btn {
      display: block;
      width: 100%;
      margin-bottom: 1.25rem; } }
.program_description .price .btn-primary {
  background-color: transparent;
  border: 1px solid #2b2c2c;
  color: #2b2c2c; }
.program_description .price .dropdown-toggle {
  position: relative; }
  .program_description .price .dropdown-toggle:after {
    content: "";
    display: inline-block;
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    margin-left: 0;
    vertical-align: 0;
    border: 0;
    position: absolute;
    right: 1.25rem; }
.program_description .price .btn-primary:not(:disabled):not(.disabled).active, .program_description .price .btn-primary:not(:disabled):not(.disabled):active, .program_description .price .show > .btn-primary.dropdown-toggle {
  color: #fff;
  border: 0 !important;
  background-color: #43d283 !important;
  outline: 0; }
.program_description .price .dropdown-item {
  color: #2b2c2c;
  padding: 0.2rem 2.2rem 0.2rem 1rem;
  font-family: "Montserrat", sans-serif; }
.program_description .price .order_program_page {
  display: inline-block;
  line-height: 44px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: #43d283;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  border: 0;
  transition: all 1s ease-in-out 0s; }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .program_description .price .order_program_page {
      margin-left: 10px; } }
  .program_description .price .order_program_page:hover {
    background-color: #ff9649;
    transition: all 1s ease-in-out 0s; }
  @media screen and (max-width: 414px) {
    .program_description .price .order_program_page {
      display: block;
      width: 100%;
      margin-bottom: 1.25rem; } }
.program_description .program_information {
  margin-top: 35px; }
  .program_description .program_information h3 {
    margin-bottom: 1.25rem;
    font-weight: 600;
    text-transform: inherit; }
  .program_description .program_information p {
    margin-bottom: 10px; }
  .program_description .program_information ul {
    font-family: "Montserrat", sans-serif;
    color: #43d283;
    padding-left: 35px;
    margin-bottom: 1.25rem; }
    .program_description .program_information ul li {
      margin-bottom: 5px; }
      .program_description .program_information ul li:last-of-type {
        margin-bottom: 50px; }
      .program_description .program_information ul li span {
        font-family: "Montserrat", sans-serif;
        color: #2b2c2c; }
  .program_description .program_information .menu .time {
    border-bottom: 2px solid #2b2c2c;
    margin-bottom: 5px; }
    .program_description .program_information .menu .time p {
      margin-bottom: 5px; }
  .program_description .program_information .menu .recipe {
    margin-bottom: 30px; }
    .program_description .program_information .menu .recipe:last-of-type {
      margin-bottom: 150px; }
  .program_description .program_information .menu .ui-tabs .ui-tabs-nav {
    padding: 0; }
  .program_description .program_information .menu .ui-widget.ui-widget-content {
    border: 0;
    border-radius: 0; }
  .program_description .program_information .menu .ui-widget-content {
    color: #2b2c2c; }
  .program_description .program_information .menu .ui-widget {
    font-family: "Montserrat", sans-serif; }
  .program_description .program_information .menu .ui-tabs {
    padding: 0; }
  .program_description .program_information .menu .ui-widget-header {
    border: 0;
    background: transparent; }
  .program_description .program_information .menu .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .program_description .program_information .menu .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .program_description .program_information .menu .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    color: #ff9649; }
  .program_description .program_information .menu .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0 10px;
    float: inherit; }
    @media screen and (max-width: 360px) {
      .program_description .program_information .menu .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        padding: 3px 7px; } }
  .program_description .program_information .menu .ui-tabs-anchor {
    outline: none; }
  .program_description .program_information .menu .ui-state-default a, .program_description .program_information .menu .ui-state-default a:link, .program_description .program_information .menu .ui-state-default a:visited, .program_description .program_information .menu a.ui-button, .program_description .program_information .menu a:link.ui-button, .program_description .program_information .menu a:visited.ui-button, .program_description .program_information .menu .ui-button {
    color: #2b2c2c; }
    @media screen and (max-width: 360px) {
      .program_description .program_information .menu .ui-state-default a, .program_description .program_information .menu .ui-state-default a:link, .program_description .program_information .menu .ui-state-default a:visited, .program_description .program_information .menu a.ui-button, .program_description .program_information .menu a:link.ui-button, .program_description .program_information .menu a:visited.ui-button, .program_description .program_information .menu .ui-button {
        font-size: 14px; } }
  .program_description .program_information .menu .ui-tabs .ui-tabs-nav li {
    margin: 0; }
  .program_description .program_information .menu .ui-state-default, .program_description .program_information .menu .ui-widget-content .ui-state-default, .program_description .program_information .menu .ui-widget-header .ui-state-default, .program_description .program_information .menu .ui-button, .program_description .program_information .menu html .ui-button.ui-state-disabled:hover, .program_description .program_information .menu html .ui-button.ui-state-disabled:active {
    border: 0;
    background: transparent;
    color: #2b2c2c;
    font-weight: 600; }
  .program_description .program_information .menu .ui-tabs .ui-tabs-panel {
    padding: 0; }

/*smoothie program */
.program_description .price .about_program p {
  margin-bottom: 25px; }
  .program_description .price .about_program p:last-of-type {
    margin-bottom: 45px; }
.program_description .price .about_program .cost .value p {
  margin-bottom: 0; }
  .program_description .price .about_program .cost .value p:nth-child(odd) {
    color: #43d283;
    font-weight: 600; }

/*basket */
.basket {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none; }
  .basket .basket_content {
    width: 50%;
    min-height: 100vh;
    background-color: #fff;
    padding: 60px 90px 0 130px; }
    @media screen and (max-width: 1024px) {
      .basket .basket_content {
        width: 75%; } }
    @media screen and (max-width: 768px) {
      .basket .basket_content {
        width: 100%; } }
    @media screen and (max-width: 414px) {
      .basket .basket_content {
        width: 100%;
        padding: 60px; } }
    @media screen and (max-width: 360px) {
      .basket .basket_content {
        padding: 30px 20px; } }
    .basket .basket_content h3 {
      position: relative;
      left: -15px; }
    .basket .basket_content .close a {
      text-decoration: none; }
      .basket .basket_content .close a:before {
        content: "";
        display: inline-block;
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
        color: #2b2c2c;
        font-size: 1.25rem;
        position: relative;
        left: -90px;
        bottom: 40px; }
        @media screen and (max-width: 414px) {
          .basket .basket_content .close a:before {
            left: -35px; } }
        @media screen and (max-width: 360px) {
          .basket .basket_content .close a:before {
            left: -11px;
            bottom: 22px; } }
    .basket .basket_content .basket_description {
      margin-bottom: 30px; }
      .basket .basket_content .basket_description:last-of-type {
        margin-bottom: 50px; }
      .basket .basket_content .basket_description img {
        display: inline-block;
        width: 100%;
        margin-right: 30px; }
      .basket .basket_content .basket_description p {
        font-weight: 600; }
        .basket .basket_content .basket_description p:last-of-type {
          margin-bottom: 50px; }
        @media screen and (max-width: 375px) {
          .basket .basket_content .basket_description p {
            font-size: 14px; } }
      .basket .basket_content .basket_description .count span {
        font-family: "Montserrat", sans-serif;
        color: #43d283; }
        .basket .basket_content .basket_description .count span:first-of-type {
          color: #e4e4e4; }
        .basket .basket_content .basket_description .count span:nth-child(2) {
          color: #2b2c2c; }
      .basket .basket_content .basket_description span {
        font-family: "Montserrat", sans-serif;
        color: #43d283; }
      .basket .basket_content .basket_description a {
        text-decoration: none; }
        .basket .basket_content .basket_description a:after {
          content: "";
          display: inline-block;
          font-family: Font Awesome\ 5 Free;
          font-weight: 400;
          font-size: 1rem;
          color: #e4e4e4; }
    .basket .basket_content form input {
      display: none; }
    .basket .basket_content form label {
      font-family: "Montserrat", sans-serif;
      color: #2b2c2c;
      margin-bottom: 85px; }
    .basket .basket_content form input + label:before {
      content: "";
      display: inline-block;
      font-family: Font Awesome\ 5 Free;
      font-weight: 900;
      width: 15px;
      line-height: 15px;
      border: 1px solid #2b2c2c;
      margin-right: 14px;
      text-align: center;
      font-size: 12px;
      color: transparent; }
    .basket .basket_content form input:checked + label:before {
      color: #43d283; }
    .basket .basket_content form p {
      margin-bottom: 1.25rem; }
    .basket .basket_content form button {
      display: block;
      padding: 0 30px;
      line-height: 40px; }

/*# sourceMappingURL=style.css.map */
