$main-font: 'Montserrat', sans-serif
$dop-font: 'Open Sans', sans-serif
$number-font: 'Noto Sans', sans-serif
$main-font-size: 1rem
$dop-size: 1.25rem
$font-color: #2b2c2c
$first-dop-color: #43d283
//green
$second-dop-color: #ff9649
//orange
$third-dop-color: #e4e4e4
//grey

@mixin max-screen($res)
  @media screen and (max-width: $res)
    @content

%for_button
  display: inline-block
  background-color: $first-dop-color
  color: #fff
  font-family: $main-font
  font-weight: 600
  text-transform: uppercase
  border: 0
  transition: all 1s ease-in-out
  &:hover
    background-color: $second-dop-color
    transition: all 1s ease-in-out


%for_h2
  font-family: $dop-font
  text-transform: inherit
  color: $font-color
  font-weight: 600
  margin-bottom: 30px

%h4_for_stocks
  color: $font-color
  font-family: $main-font
  font-size: 25px
  font-weight: 600

%h5_for_stocks
  color: $font-color
  font-family: $main-font
  font-size: $dop-size
  font-weight: 600
  margin-bottom: $dop-size

%program_name
  font-family: $dop-font
  font-size: $dop-size
  margin-bottom: 12px

%h4_for_program_page
  font-family: $main-font
  font-size: 38px
  margin-right: 10px
  font-weight: 600
  color: $first-dop-color

%h5_for_programs
  color: $font-color
  font-family: $dop-font
  font-size: $main-font-size
  font-weight: 600
  text-transform: uppercase


@keyframes pulse
  0%
    -webkit-transform: scale3d(1, 1, 1)
    transform: scale3d(1, 1, 1)

  50%
    -webkit-transform: scale3d(1.05, 1.05, 1.05)
    transform: scale3d(1.05, 1.05, 1.05)

  100%
    -webkit-transform: scale3d(1, 1, 1)
    transform: scale3d(1, 1, 1)

@keyframes flip
  0%
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg)
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg)
    -webkit-animation-timing-function: ease-out
    animation-timing-function: ease-out

  40%
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg)
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg)
    -webkit-animation-timing-function: ease-out
    animation-timing-function: ease-out

  50%
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg)
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in

  80%
    -webkit-transform: perspective(400px) scale3d(.5, .5, .5)
    transform: perspective(400px) scale3d(.5, .5, .5)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in

  100%
    -webkit-transform: perspective(400px)
    transform: perspective(400px)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in



*
  padding: 0
  margin: 0

a
  text-decoration: none

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
  margin-bottom: 0

h2
  font-size: 1.875rem
  //30px
  color: $second-dop-color
  font-family: $dop-font
  text-transform: uppercase
  margin-bottom: 1.188rem

h3
  font-size: 1.875rem
  font-family: $dop-font
  color: $font-color
  margin-bottom: 3.125rem
  text-transform: uppercase

p
  font-family: $main-font
  color: $font-color
  margin-bottom: 0


.navbar
  padding: 0 4.25rem
  margin-bottom: 50px

  @include max-screen(1024px)
    padding: .6rem 0 0

  @include max-screen(768px)
    margin-bottom: 4rem
    padding: .6rem 1rem 0

  .navbar-brand
    padding: 0
    margin-right: 3.75rem
    font-size: 3.25rem
    font-family: 'Lobster', cursive
    color: $first-dop-color !important

    @include max-screen(1024px)
      margin-right: 2rem
      font-size: 40px


  .navbar-toggler

    .navbar-toggler-icon
      background-color: $first-dop-color

  .navbar-nav .nav-link
    padding-left: 0.375rem
    // 6px
    padding-right: 0.375rem
    // 6px
    color: $font-color
    text-transform: uppercase
    transition: all 300ms ease-in-out 0s
    @include max-screen(1024px)
      padding-left: 0.2rem
      padding-right: 0.2rem
      font-size: 14px

    &:hover
      color: $second-dop-color
      transition: all 300ms ease-in-out 0s

    &:hover:after
      content: ''
      display: block
      width: 100%
      height: 0.125rem
      //2px
      background-color: $second-dop-color
      position: relative
      top: 1.438rem
      transition: all 1s ease-in-out 0s

  .numbers
    p
      font-family: $main-font
      font-size: 18px
      font-weight: 500
      position: relative
      @include max-screen(1024px)
        font-size: 14px

      &:before
        content: "\f095"
        display: inline-block
        font-weight: 900
        font-family: Font Awesome\ 5 Free
        -moz-transform: rotate(100deg)
        //explorer
        -webkit-transform: rotate(100deg)
        //chrome/safari
        -o-transform: rotate(100deg)
        //opera
        -ms-transform: rotate(100deg)
        //firefox
        transform: rotate(100deg)
        font-size: 2rem
        color: $first-dop-color
        position: absolute
        top: 50%
        margin-top: -1.5rem
        margin-left: -3.75rem

/* main page*/
.about_us
  margin-bottom: 170px
  @include max-screen(768px)
    margin-bottom: 4rem

  .org_big_bg
    @include max-screen(768px)
      display: none

    img
      display: block
      width: 100%
      position: relative
      padding-left: 103px
      padding-right: 40px
      z-index: 0
      @include max-screen(1024px)
        padding-right: 0

  .food
    img
      display: inline-block
      max-width: 500px
      position: absolute
      left: 54px
      top: 40px
      z-index: 2

      @include max-screen(1024px)
        left: 22px

      @include max-screen(768px)
        position: relative
        top: 0
        left: 0
        width: 100%
        max-width: none
        padding: 50px 0
        border-bottom: 2px solid $second-dop-color
        border-top: 2px solid $second-dop-color

      @include max-screen(414px)
        border-bottom: 0
        padding-bottom: 0
        padding-top: 30px
        margin-bottom: 20px

  .org_bg
    @include max-screen(768px)
      display: none

    img
      display: inline-block
      max-width: 196px
      position: absolute
      left: 0
      top: 83px
      z-index: 1
      animation: slideInLeft 1s ease both
      @include max-screen(1024px)
        top: 81px


.process
  .process_txt
    padding-top: 20px

    @include max-screen(768px)
      padding-top: 0
      margin-bottom: 100px

    @include max-screen(414px)
      padding-top: 30px
      border-top: 2px solid $second-dop-color
      margin-bottom: 20px

  .process_img
    margin-bottom: 9.375rem
    @include max-screen(768px)
      margin-bottom: 100px

    .org_big_bg
      @include max-screen(768px)
        display: none

      img
        position: absolute
        bottom: 191px
        right: 0
        z-index: 0

    .food
      img
        display: inline-block
        width: 100%
        position: relative
        padding-left: 85px
        padding-right: 41px
        z-index: 2

        @include max-screen(1024px)
          padding-left: 10px
          padding-right: 10px

        @include max-screen(768px)
          padding: 50px 0
          border-bottom: 2px solid $second-dop-color
          border-top: 2px solid $second-dop-color

        @include max-screen(414px)
          border-top: 0
          padding: 0 0 30px
    //border: 0

    .org_bg
      @include max-screen(768px)
        display: none

      img
        position: absolute
        top: 47px
        left: 47px
        z-index: 1
        @include max-screen(1024px)
          left: 0


.programs
  margin-bottom: 9.375rem
  @include max-screen(414px)
    margin-bottom: 100px

  .programs_img
    position: relative
    overflow: hidden
    margin-bottom: 1.875rem

    img
      display: block
      width: 100%
      position: relative

    .programs_txt
      background-color: rgba(67, 210, 131, .7)
      position: absolute
      bottom: 0
      left: 0
      right: 0
      overflow: hidden
      width: 100%
      padding: 1.313rem 0 1.125rem 1.75rem
      transition: all 1s ease-in-out 0s

      @include max-screen(1024px)
        padding: 10px 0 10px 10px

      @include max-screen(768px)
        padding: 10px 0 10px 10px

      &:hover .programs_button
        display: block

      &:hover p
        display: block

      &:hover
        height: 100%
        padding-top: 2.75rem
        transition: all 1s ease-in-out 0s

      h5
        color: #fff
        font-family: $dop-font
        font-size: 1.375rem
        font-weight: 600
        margin-bottom: 0.563rem
        @include max-screen(768px)
          font-size: 1rem

      p
        font-weight: 500
        color: #fff
        font-size: 0.875rem
        max-width: 300px

        @include max-screen(1024px)
          font-size: 0.75rem

        @include max-screen(768px)
          display: none

      .programs_button
        display: none

        a
          display: inline-block
          text-decoration: none
          color: #fff
          font-size: 0.875rem
          font-family: $main-font
          font-weight: 600
          line-height: 2.438rem
          min-width: 8.375rem
          border: 2px solid #fff
          text-align: center
          margin: 2.188rem 0.688rem 0
          transition: all 1s ease-in-out 0s

          &:nth-child(odd)
            margin-left: 0

          &:nth-child(even)
            margin-right: 0

          &:hover
            color: $font-color
            background-color: #fff
            transition: all 1s ease-in-out 0s

.deliver_consultation

  background-color: #e4e4e4
  padding: 6.25rem 0
  margin-bottom: 9.375rem

  @include max-screen(414px)
    margin-bottom: 100px

  h3
    margin-bottom: 3.125rem

  p
    margin-bottom: 3.125rem

  a
    display: inline-block
    text-decoration: none
    text-transform: uppercase
    color: #fff
    font-family: $main-font
    font-weight: 500
    line-height: 3.25rem
    min-width: 11.5rem
    background-color: $first-dop-color
    margin-right: $dop-size
    margin-left: $dop-size
    transition: all 500ms ease-in-out 0s

    @include max-screen(414px)
      margin-left: 0
      margin-right: 0
      width: 100%
      margin-bottom: 10px

    &:first-of-type
      margin-left: 0

    &:last-of-type
      margin-right: 0

    &:hover
      background-color: $second-dop-color
      transition: all 500ms ease-in-out 0s


.orders
  .dropdown
    box-sizing: border-box
    padding: 0
    margin: 0 0.625rem 1.375rem

    &:first-of-type
      margin-left: 0

    &:last-of-type
      margin-right: 0

    @include max-screen(414px)
      margin-right: 0
      margin-left: 0

  .show .btn-primary.dropdown-toggle, .btn-primary
    display: inline-block
    width: 100%
    background-color: $third-dop-color
    color: $font-color
    font-family: $main-font
    border: 0
    outline: 0
    text-align: left

  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle
    color: #fff
    border: 0 !important
    background-color: $first-dop-color !important
    outline: 0

  .dropdown-toggle
    position: relative

    &:after
      content: "\f107"
      display: inline-block
      font-family: Font Awesome\ 5 Free
      font-weight: 900
      margin-left: 0
      vertical-align: 0
      border: 0
      position: absolute
      right: $dop-size

  .btn
    display: inline-block
    width: 100%
    text-align: left
    border-radius: 0
    border: 0
    padding: 0 1.375rem
    line-height: 3.125rem
    transition: all 1s ease-in-out 0s

  .dropdown-menu.show
    width: 100%
    box-sizing: border-box

  .dropdown-menu
    margin: 0
    border-radius: 0
    padding: 0
    color: $font-color
    font-family: $main-font
    box-sizing: border-box


  .dropdown-item
    display: inline-block
    width: 100%
    box-sizing: border-box
    color: $font-color
    font-family: $main-font

  form
    font-family: $main-font
    color: $font-color
    padding-left: 0
    padding-right: 0

    .second_form
      padding-left: 0
      padding-right: 0
      margin: 0 1.375rem

      &:nth-child(odd)
        margin-left: 0

      &:nth-child(even)
        margin-right: 0

      &:last-of-type
        margin: 0

      @include max-screen(414px)
        margin-right: 0
        margin-left: 0

      input
        display: inline-block
        width: 100%
        line-height: 3.125rem
        padding-left: $dop-size
        background-color: $third-dop-color
        border: 0
        margin-bottom: 1.375rem

      textarea
        display: block
        width: 100%
        resize: none
        background-color: $third-dop-color
        border: 0
        height: 14.063rem
        padding-left: $dop-size
        padding-top: $dop-size
        margin-bottom: 1.375rem

  .orders_but
    button
      display: block
      min-width: 11.438rem
      line-height: 3.25rem
      background-color: $first-dop-color
      color: #fff
      font-family: $main-font
      border: 0
      margin: auto
      margin-bottom: 9.375rem
      transition: all 1s ease-in-out 0s

      &:hover
        background-color: $second-dop-color
        transition: all 1s ease-in-out 0s

      @include max-screen(414px)
        width: 100%
        margin-bottom: 100px

.stock
  margin-bottom: 4.375rem

  .common_block_stock
    background-color: #e4e4e4
    padding-left: 0
    margin-bottom: 1.875rem

    .left_part
      padding-left: 0
      padding-right: 0
      margin-right: 1.875rem

      img
        display: inline-block
        width: 100%
        position: relative
        margin-right: 1.313rem
        @include max-screen(768px)
          margin-right: 0

      p
        font-family: 'Lobster', cursive
        font-size: 2.5rem
        position: absolute
        top: 45%
        text-align: center
        margin-top: -1.313rem
        width: 100%
        @include max-screen(1024px)
          font-size: 32px

        @include max-screen(768px)
          font-size: 25px
          top: 50%

        @include max-screen(414px)
          font-size: $dop-size
          top: 50%

        @include max-screen(375px)
          font-size: 1rem
          top: 62%

    .right_part
      p
        font-size: $dop-size
        margin-bottom: 1.5rem
        @include max-screen(414px)
          font-size: 0.75rem
          margin-bottom: 0
        @include max-screen(768px)
          margin-bottom: 0
          font-size: 1rem
        @include max-screen(375px)
          font-size: .6rem
          margin-bottom: 0

      a
        text-decoration: none
        font-family: $main-font
        color: #837f7f
        font-size: 1.125rem
        transition: all 500ms ease-in-out 0s
        @include max-screen(414px)
          font-size: 0.75rem
        @include max-screen(375px)
          font-size: 0.65rem

        &:hover
          color: $first-dop-color
          transition: all 500ms ease-in-out 0s

.comments
  .owl-nav
    display: none

  .owl-dots
    width: 100%
    margin-bottom: 9.375rem
    text-align: center
    @include max-screen(414px)
      margin-bottom: 100px

    .owl-dot
      outline: none

      span
        display: block
        height: 0.875rem
        width: 0.875rem
        background-color: $font-color
        margin-right: 0.25rem
        margin-left: 0.25rem
        border-radius: 50%

    .owl-dot.active
      span
        background-color: $second-dop-color

  .img_carousel
    img
      display: inline-block
      width: 100%
      margin-bottom: 1.5rem

  .txt_carousel
    h5
      font-family: $main-font
      font-size: 1.125rem
      display: inline-block
      margin-bottom: 0.75rem
      @include max-screen(768px)
        font-size: 1.1rem

    .marks
      display: inline-block

      a
        text-decoration: none
        transition: all 1s ease-in-out 0s

        &:before
          content: "\f005"
          display: inline-block
          font-family: Font Awesome\ 5 Free
          font-weight: 900
          color: $third-dop-color
          font-size: 0.75rem
          @include max-screen(768px)
            font-size: 0.6rem

        &:hover:before
          color: $second-dop-color
          transition: all 500ms ease-in-out 0s

    p
      margin-bottom: 3.125rem

      &:nth-child(odd)
        color: $second-dop-color
        margin-bottom: 1.438rem

footer
  background-color: $third-dop-color
  padding-top: 1rem
  padding-bottom: 1rem

  h4
    font-size: $dop-size
    font-family: $dop-font
    color: $font-color

  .footer_form
    padding-left: 5.625rem
    margin-right: 1.875rem
    padding-bottom: 1.375rem

    @include max-screen(1024px)
      padding-left: 0
      padding-right: 0

    @include max-screen(768px)
      padding-left: 0
      padding-right: 0
      margin: auto
      margin-bottom: 25px

    @include max-screen(414px)
      display: block
      margin: auto
      padding-left: 0
      margin-right: 0
      padding-bottom: 38px
      border-bottom: 2px solid $first-dop-color

    h4
      padding-top: 1.375rem
      margin-bottom: 1.125rem

    p
      margin-bottom: 1.313rem

    form
      font-family: $main-font

      input
        line-height: 2.188rem
        padding-left: $dop-size
        border: 0
        margin-bottom: 1.063rem
        color: $font-color

      button
        line-height: 2.188rem
        border: 0
        text-transform: uppercase
        color: #fff
        background-color: $first-dop-color
        transition: all 500ms ease-in-out 0s

        &:hover
          background-color: $second-dop-color
          transition: all 500ms ease-in-out 0s

  .social
    margin-left: 1.875rem
    padding: 0 4.063rem 1.375rem
    border-right: 2px solid $first-dop-color
    border-left: 2px solid $first-dop-color
    @include max-screen(768px)
      padding: 0
      padding-bottom: 38px
      width: 50%
      margin-left: 0
      border-left: 0

    @include max-screen(414px)
      width: 100%
      padding: 0 0 38px
      border-left: 0
      border-right: 0
      border-bottom: 2px solid $first-dop-color
      margin-left: 0

    h4
      padding-top: 0
      margin-bottom: 0.313rem

      &:first-of-type
        padding-top: 23px

    .write_to_us
      margin-bottom: 1rem

      a
        text-decoration: none
        transition: all 1s ease-in-out 0s

        &:before
          content: "\f409"
          display: inline-block
          font-family: Font Awesome\ 5 Brands
          font-size: 2.188rem
          color: $first-dop-color
          margin: 0 .25rem

        &:nth-child(2):before
          content: "\f2c6"

        &:nth-child(3):before
          content: "\f40c"
          font-size: 2.313rem

        &:first-child
          margin-left: 0

        &:last-child
          margin-right: 0

        &:hover:before
          color: $second-dop-color
          transition: all 1s ease-in-out 0s

    .soc
      margin: 0

      a
        text-decoration: none
        transition: all 1s ease-in-out 0s

        &:before
          content: "\f16d"
          display: inline-block
          font-family: Font Awesome\ 5 Brands
          font-size: 2.313rem
          color: $first-dop-color
          margin-left: 0.25rem
          margin-right: 0.25rem

        &:nth-child(2):before
          content: "\f082"
          font-size: 2.188rem

        &:first-child
          margin-left: 0

        &:last-child
          margin-right: 0

        &:hover:before
          color: $second-dop-color
          transition: all 1s ease-in-out 0s

  .contacts
    padding-left: 3.875rem
    padding-bottom: 1.375rem
    @include max-screen(414px)
      padding-bottom: 0
      margin-bottom: 38px
      padding-left: 0

    h4
      padding-top: 1.375rem
      margin-bottom: 1.125rem

    p
      margin-bottom: 0.625rem

.down_footer
  background-color: #fff
  padding: 0.813rem 0

  p
    font-size: 0.75rem

  a
    text-decoration: none

    &:before
      content: "\f095"
      display: inline-block
      font-family: Font Awesome\ 5 Free
      font-weight: 900
      width: 86px
      line-height: 86px
      background-color: $first-dop-color
      color: #fff
      font-size: 45px
      text-align: center
      position: fixed
      bottom: 65px
      right: 30px
      border-radius: 50%
      transition: all 1s ease-in-out 0s
      animation: pulse 1s 1s infinite
      @include max-screen(414px)
        right: 10px
        line-height: 60px
        width: 60px
        font-size: 35px

    &:hover:before
      content: "Call"
      font-size: $dop-size
      font-family: $main-font
      background-color: $second-dop-color
      transition: all 1s ease-in-out 0s



/*page stock 100hrn for kg*/

.stock_100hrn_kg
  h2
    @extend %for_h2

  h4
    @extend %h4_for_stocks

    &:last-of-type
      color: $second-dop-color
      margin-bottom: 30px

  h5
    @extend %h5_for_stocks

  ul
    color: $second-dop-color
    padding-left: 35px
    margin-bottom: 50px

    li
      span
        color: $font-color
        font-family: $main-font

        a
          color: $second-dop-color

  p
    margin-bottom: $dop-size

    &:first-of-type
      margin-bottom: 0

    &:nth-child(3)
      margin-bottom: 50px


  .attention
    p
      margin-bottom: 9.375rem

/*page stock_customer*/

.stock_customer
  h2
    @extend %for_h2

  h4
    @extend %h4_for_stocks

    &:last-of-type
      color: $second-dop-color
      margin-bottom: 30px

  h5
    @extend %h5_for_stocks

  ul
    color: $second-dop-color
    padding-left: 35px
    margin-bottom: 50px

    li
      span
        color: $font-color
        font-family: $main-font

        a
          color: $second-dop-color

  p
    margin-bottom: 50px


  .attention
    margin-bottom: 9.375rem

    span
      font-family: $main-font
      color: $font-color

      &:first-of-type
        color: $second-dop-color
        font-weight: 600
        font-size: $dop-size

/*pages stock_2_orders and stock_100hrn_for_friend*/

.stock_2_orders, .stock_100hrn_for_friend
  h2
    @extend %for_h2

  h4
    @extend %h4_for_stocks

    &:last-of-type
      color: $second-dop-color
      margin-bottom: 30px

  h5
    @extend %h5_for_stocks

  ul
    color: $second-dop-color
    padding-left: 35px
    margin-bottom: 50px

    li
      span
        color: $font-color
        font-family: $main-font

        a
          color: $second-dop-color

  p
    margin-bottom: 50px

  .attention
    p
      margin-bottom: 9.375rem

/*programs*/
.program_description
  .basket_programs
    a
      text-decoration: none
      &:after
        content: "\f07a"
        display: inline-block
        font-family: Font Awesome\ 5 Free
        font-weight: 900
        font-size: 33px
        line-height: 55px
        width: 75px
        color: #fff
        border-left: 2px solid $font-color
        text-align: center
        background-color: $first-dop-color
        position: fixed
        right: 0
        top: 40%
        transition: all 1s ease-in-out
        @include max-screen(414px)
          line-height: 40px
          width: 55px
          font-size: $dop-size
      &:hover:after
        background-color: $second-dop-color
        transition: all 1s ease-in-out
        animation: flip 3s

  img
    display: inline-block
    width: 100%

  .price
    .program_name
      @extend %program_name

      span
        &:first-of-type
          font-weight: 600

        @media screen and (min-width: 768px) and (max-width: 1024px)
          font-size: 16px
          margin-bottom: 8px


    .main_cost_block
      .cost
        .value
          padding-bottom: 5px
          border-bottom: 2px solid $first-dop-color
          margin-bottom: 5px
          @media screen and (min-width: 768px) and (max-width: 1024px)
            margin-bottom: 3px
            padding-bottom: 3px

          h4
            @extend %h4_for_program_page

          p
            &:nth-child(odd)
              color: $first-dop-color
              font-weight: 600
              margin-bottom: -4px

        span
          display: block
          font-size: 14px
          max-width: 140px
          margin-bottom: $dop-size
          @media screen and (min-width: 768px) and (max-width: 1024px)
            margin-bottom: 14px

    .btn
      border: 0
      border-radius: 0
      padding: 0 57px 0 47px
      line-height: 44px
      @media screen and (min-width: 768px) and (max-width: 1024px)
        padding: 0 47px 0 37px

      @include max-screen(414px)
        display: block
        width: 100%
        margin-bottom: $dop-size


    .btn-primary
      background-color: transparent
      border: 1px solid $font-color
      color: $font-color

    .dropdown-toggle
      position: relative

      &:after
        content: "\f107"
        display: inline-block
        font-family: Font Awesome\ 5 Free
        font-weight: 900
        margin-left: 0
        vertical-align: 0
        border: 0
        position: absolute
        right: $dop-size

    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle
      color: #fff
      border: 0 !important
      background-color: $first-dop-color !important
      outline: 0

    .dropdown-item
      color: $font-color
      padding: 0.2rem 2.2rem 0.2rem 1rem
      font-family: $main-font

    .order_program_page
      display: inline-block
      line-height: 44px
      padding-left: 28px
      padding-right: 28px
      background-color: $first-dop-color
      font-family: $main-font
      color: #fff
      border: 0
      transition: all 1s ease-in-out 0s
      @media screen and (min-width: 768px) and (max-width: 1024px)
        margin-left: 10px
      &:hover
        background-color: $second-dop-color
        transition: all 1s ease-in-out 0s

      @include max-screen(414px)
        display: block
        width: 100%
        margin-bottom: $dop-size


  .program_information
    margin-top: 35px
    h3
      @extend %program_name
      margin-bottom: $dop-size
      font-weight: 600
      text-transform: inherit
      @include max-screen(320px)


    p
      margin-bottom: 10px

    ul
      font-family: $main-font
      color: $first-dop-color
      padding-left: 35px
      margin-bottom: $dop-size

      li
        margin-bottom: 5px
        &:last-of-type
          margin-bottom: 50px
        span
          font-family: $main-font
          color: $font-color

    .menu
      .time
        border-bottom: 2px solid $font-color
        margin-bottom: 5px

        h5
          @extend %h5_for_programs
        p
          margin-bottom: 5px


      .recipe
        margin-bottom: 30px
        &:last-of-type
          margin-bottom: 150px

      .ui-tabs .ui-tabs-nav
        padding: 0

      .ui-widget.ui-widget-content
        border: 0
        border-radius: 0

      .ui-widget-content
        color: $font-color

      .ui-widget
        font-family: $main-font

      .ui-tabs
        padding: 0

      .ui-widget-header
        border: 0
        background: transparent

      .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor
        color: $second-dop-color

      .ui-tabs .ui-tabs-nav .ui-tabs-anchor
        padding: 0 10px
        float: inherit
        @include max-screen(360px)
          padding: 3px 7px

      .ui-tabs-anchor
        outline: none

      .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button
        color: $font-color
        @include max-screen(360px)
          font-size: 14px

      .ui-tabs
        .ui-tabs-nav
          li
            margin: 0

      .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
        border: 0
        background: transparent
        color: $font-color
        font-weight: 600

      .ui-tabs .ui-tabs-panel
        padding: 0


/*smoothie programm*/
.program_description
  .price
    .about_program
      p
        margin-bottom: 25px
        &:last-of-type
          margin-bottom: 45px

      .cost
        .value
          h4
            @extend %h4_for_program_page

          p
            margin-bottom: 0
            &:nth-child(odd)
              color: $first-dop-color
              font-weight: 600


/*basket*/

.basket
  width: 50%
  height: 100vh
  background-color: darkgrey
  padding: 60px 90px 0 130px
  h3
    position: relative
    &:before
      content: "\f00d"
      display: inline-block
      font-family: Font Awesome\ 5 Free
      font-weight: 900
      color: $third-dop-color
      font-size: $dop-size
      position: absolute
      left: -110px
      bottom: 60px

  .basket_description
    margin-bottom: 30px
    &:last-of-type
      margin-bottom: 50px
    img
      display: inline-block
      width: 100%
      margin-right: 30px

    p
      font-weight: 600
      &:last-of-type
        margin-bottom: 50px

    .count
      span
        font-family: $main-font
        color: $first-dop-color
        &:first-of-type
          color: $third-dop-color
        &:nth-child(2)
          color: $font-color

    span
      font-family: $main-font
      color: $first-dop-color

    a
      text-decoration: none
      &:after
        content: "\f2ed"
        display: inline-block
        font-family: Font Awesome\ 5 Free
        font-weight: 400
        font-size: $main-font-size
        color: $third-dop-color

  form
    input
      display: none
    label
      font-family: $main-font
      color: $font-color
      margin-bottom: 85px
    input + label
      &:before
        content: "\f00c"
        display: inline-block
        font-family: Font Awesome\ 5 Free
        font-weight: 900
        width: 15px
        line-height: 15px
        border: 1px solid$font-color
        margin-right: 14px
        text-align: center
        font-size: 12px
        color: transparent

    input:checked + label:before
      color: $first-dop-color

    p
      margin-bottom: $dop-size

    button
      @extend %for_button
      display: block
      padding: 0 30px
      line-height: 40px





































